clarifai_grpc==9.9.1
openai-whisper==20230918
yarl==1.9.2
typer==0.9.0
rich==13.6.0
pydantic==2.4.2
pathlib==1.0.1
pydantic-settings==2.0.3
pydub==0.25.1
ruff==0.0.292
pre-commit==3.4.0
transformers==4.34.0
coverage==7.3.2

